@font-face {
    font-family: 'ridi';
    src: url(../font/RIDIBatang.otf);
}
@font-face {
    font-family: 'today';
    src: url(../font/잘풀리는오늘\ Medium.ttf);
}
@font-face {
    font-family: 'oneday';
    src: url(../font/잘풀리는하루\ Medium.ttf);
}
@font-face {
    font-family: 'berry';
    src: url(../font/Stanberry.ttf);
}